{
  "machine": {
    "gpu": 1,
    "cpu": 4,
    "ram": "2Gb"
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "blender", 
            "--background", 
            "--python", 
            "/app/lilysay3d.py", 
            "--",
            {{ if .Image }}"{{ .Image }}",{{else}}"lilypad",{{ end }}
            {{ if .Message }}"{{ .Message }}"{{else}}"Blender on Lilypad Rocks!"{{ end }}
        ],
        "Image": "ghcr.io/rhochmayr/cowsay3d-blender:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1"
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
  }
}